<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CircularButtonType</key>
	<dict>
		<key>alpha</key>
		<integer>1</integer>
		<key>font</key>
		<dict>
			<key>name</key>
			<string>Roboto-Light</string>
			<key>size</key>
			<integer>18</integer>
		</dict>
		<key>textColor</key>
		<string>#FFFFFF</string>
		<key>backgroundColor</key>
		<string></string>
		<key>borderColor</key>
		<string>#2A4D75</string>
		<key>cornerRadius</key>
		<integer>25</integer>
		<key>borderWidth</key>
		<integer>1</integer>
	</dict>
	<key>CustomLabelType</key>
	<dict>
		<key>alpha</key>
		<integer>1</integer>
		<key>font</key>
		<dict>
			<key>name</key>
			<string>RobotoCondensed-Bold</string>
			<key>size</key>
			<integer>15</integer>
		</dict>
		<key>textColor</key>
		<string>#000000</string>
		<key>backgroundColor</key>
		<string></string>
	</dict>
	<key>SearchTextFieldType</key>
	<dict>
		<key>alpha</key>
		<integer>1</integer>
		<key>font</key>
		<dict>
			<key>name</key>
			<string>RobotoCondensed-Bold</string>
			<key>size</key>
			<integer>12</integer>
		</dict>
		<key>textColor</key>
		<string>#FFFFFF</string>
		<key>backgroundColor</key>
		<string>#0C1925</string>
		<key>cornerRadius</key>
		<integer>10</integer>
	</dict>
	<key>SearchSegmentedControlType</key>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>font</key>
		<dict>
			<key>name</key>
			<string>Roboto-Medium</string>
			<key>size</key>
			<integer>9</integer>
		</dict>
		<key>selectedTextColor</key>
		<string>#01579b</string>
		<key>normalTextColor</key>
		<string>#01579b</string>
		<key>normalBgColor</key>
		<string></string>
		<key>selectedBgColor</key>
		<string></string>
		<key>cornerRadius</key>
		<integer>14</integer>
		<key>borderColor</key>
		<string>#01579b</string>
		<key>borderWidth</key>
		<real>1</real>
		<key>masksToBounds</key>
		<true/>
	</dict>
	<key>CustomViewType</key>
	<dict>
		<key>alpha</key>
		<integer>1</integer>
		<key>backgroundColor</key>
		<string>1B2B3F</string>
	</dict>
</dict>
</plist>
